.text-center {
    text-align: center !important;
}
.error404 {
    margin-top: 15%;
    margin-bottom: 10%;
}
.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
.text-gray-800 {
    color: #5a5c69 !important;
}
.text-gray-500 {
    color: #b7b9cc !important;
}
