<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center error404">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Non Trouvé</p>
    <p class="text-gray-500 mb-0">Il semblerais qu'il y ai un bug dans la matrice ...</p>
    <a href="index.php">&larr; Retour à l'Accueil</a>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


